/* Styles for Project5 */

body{
    font-family: Cora, sans-serif;
    font-style: oblique;
    font-weight: 300;
    letter-spacing: .5px; 
    line-height: 1.5;
    padding: 10%
}

h1 {
    color: silver;
    font-weight: 500;
}

h2{
    color:navy;
    font-weight: 500;
}

img {
    max-width:100%;
}

ul{
    margin-bottom: 2rem;
}